body{
    margin: 0;
    padding: 0;
}
.footer-section{
    background-color: cadetblue;
    padding: 40px;
}
ul{
    margin-top: -20px;
}
ul li{
    list-style-type: none;
    float: right;
    font-size: 20px;
    padding: 0 20px;
    color: white;
    
}
h1{
    font-size: 50px;
}
.top-banner{
 padding: 50px;

}
.link-button{
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    position: fixed;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
    padding-left: 20%;
 
}